<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email %>様、工場求人ナビへようこそ。</h1>
      <p>
      工場求人ナビへのサインアップが成功しました。<br>
      your age is: <%= @age %>.<br>
      your job is: <%= @job %>.<br>
      your wage is: <%= @wage %>.<br>
      your sex is: <%= @sex %>.<br>
      your place is: <%= @place %>.<br>
      your dormitory is: <%= @dormitory ? "寮あり" : "寮なし" %>.<br>
      your answers is : <br>
      <% @answers.split("/").each do |answer| %>
        <%= answer %><br>
      <% end %>
      your result_title is : <%= @result_title %>
    </p>
    <p>ご入会ありがとうございます。どうぞお楽しみくださいませ。</p>
  </body>
</html>