<div style="background-color: #fff; margin: 1em">
    <p>結果<br><br>
      アドレス <%= @email %><br>
      年齢 <%= @age %><br>
      職業 <%= @job != "" ? @job : "回答なし" %><br>
      年収 <%= @wage != "" ? @wage : "回答なし" %><br>
      性別 <%= @sex == 1 ? "男性" : @sex == 2 ? "女性" : "答えない" %><br>
      居住している都道府県 <%= @prefecture_id %><br>
      寮の希望 <%= @dormitory ? "寮あり" : "寮なし" %><br>
      診断テストの結果 <br>
      <% @answers.split("/").each do |answer| %>
        <%= answer %><br>
      <% end %>
      診断タイプ <%= @result_title %>
    </p>
</div>