<p>結果<br>
アドレス <%= @result.email %><br>
年齢 <%= @result.age %><br>
性別 <%= @result.sex %><br>
お住いの都道府県 <%= @result.area %><br>
就業中 or 離職中 <%= @result.status %><br>
許容できる通勤時間 <%= @result.distance %><br>
仕事選びで一番重要視している要素 <%= @result.importance %><br>
診断テストの結果 <br>
価値観診断 <%= @result.valuesResult %><br>
性格診断 <%= @result.personalityResult %><br>
</p>